.gemini/
gha-creds-*.json
.github/copilot-instructions.md

venv/
backend/app/__pycache__
backend/.pytest_cache/
backend/*.pyc

frontend/node_modules/
frontend/.next/
frontend/npm-debug.log*

.DS_Store