.gemini/
gha-creds-*.json
.github/copilot-instructions.md
.vscode/
venv/

*/__pycache__
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/__pycache__/
backend/*.pyc

frontend/node_modules/
frontend/.next/
frontend/npm-debug.log*

.DS_Store